.container-contact {
  display: flex;
  top: 0;
  left: 0;
  background-color: #0a1128;
  flex-direction: column;
  padding: 300px 100px;

  /* @media screen and (max-width: 1000px) {
    padding: 300px 100px;
  }

  @media screen and (max-width: 820px) {
    padding: 300px 100px;
  } */

  @media screen and (max-width: 540px) {
    padding: 200px 20px;
  }
  @media screen and (max-width: 360px) {
    padding: 150px 20px;
  }
}

.greetings {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: 'EB Garamond', sans-serif;
  line-height: 1;
  color: #ff5c39;
  text-align: center;

  @media screen and (max-width: 1000px) {
    font-size: 1.3rem;
    max-width: 100%;
  }

  @media screen and (max-width: 820px) {
    font-size: 1.3rem;
    max-width: 100%;
  }

  @media screen and (max-width: 540px) {
    font-size: 1rem;
    max-width: 100%;
  }
}

/* Get In Touch Styles */
.get-in-touch {
  margin: 0;
  color: #ced4da;
  font-weight: 700;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 4rem;
  font-family: 'Cairo', sans-serif;
  text-align: center;

  @media screen and (max-width: 820px) {
    font-size: 3rem;
    max-width: 100%;
  }

  @media screen and (max-width: 540px) {
    font-size: 2.2rem;
    max-width: 100%;
  }

  @media screen and (max-width: 360px) {
    font-size: 1.7rem;
    max-width: 100%;
  }

  @media screen and (max-width: 290px) {
    font-size: 1.5rem;
    max-width: 100%;
  }
}

/* Paragraph Styles */
.paragraph-contact {
  color: #d9d9d9;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: 'Mukta', sans-serif;
  line-height: 1.3;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;

  @media screen and (max-width: 1200px) {
    font-size: 1.2rem;
    margin-right: 0%;
  }

  @media screen and (max-width: 820px) {
    font-size: 1.2rem;
    margin-right: 0%;
  }

  @media screen and (max-width: 540px) {
    font-size: 1rem;
    margin-right: 0%;
  }

  @media screen and (max-width: 360px) {
    font-size: 1rem;
    margin-right: 0%;
  }

  @media screen and (max-width: 290px) {
    font-size: 0.8rem;
    margin-right: 0%;
  }
}

.contact-me {
  color: #ff5c39;
  border: 1px solid #ff5c39;
  background-color: #0a1128;
  width: 250px;
  padding: 10px 15px;
  margin-top: 30px;
  font-family: 'Mukta', sans-serif;
  font-size: 1.3rem;
  border-radius: 3px;

  &:hover {
    transition: all 0.8s ease-in-out;
    color: #0a1128;
    background-color: #ff5c39;
    border: 1px solid #ff5c39;
  }

  @media screen and (max-width: 820px) {
    font-size: 1.2rem;
    width: 250px;
  }

  @media screen and (max-width: 540px) {
    width: 250px;
  }

  @media screen and (max-width: 360px) {
    width: 200px;
    padding: 10px 13px;
    font-size: 1rem;
  }

  @media screen and (max-width: 290px) {
    width: 180px;
    font-size: 1rem;
  }
}

.contact-me-container {
  display: flex;
  justify-content: center;
  margin: auto;
}
