---
interface Props {
  title: string;
}

const { title } = Astro.props;
import "@fontsource/cairo/400.css";
import "@fontsource/cairo/600.css";
import "@fontsource/cairo/800.css";
import "@fontsource/mukta/200.css";
import "@fontsource/mukta/400.css";
import "@fontsource/mukta/600.css";
import "@fontsource/mukta/800.css";
import "@fontsource-variable/eb-garamond"
import '@fontsource-variable/dosis';
import NavBarContainer from "../components/elements/NavBarContainer";
import SocialNetworks from "../components/materials/socialNetworks";
import EmailComponent from "../components/materials/emailComponent";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <NavBarContainer client:load/>
    <SocialNetworks />
    <EmailComponent />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
    font-family: 'Mukta', sans-serif;
    font-weight: 200;
    
  }
  html {
    background-color: #0a1128;
    color: white;
    scroll-behavior: smooth;
  }

  body {
    margin: 16px;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
      width: 100%;
  }
  h1, h2 {
    color: #ff5c39;
    font-family: "Cairo", sans-serif;
    line-height: 1.2;
    margin: 0;

    @media screen and (max-width: 650px) {
      line-height: 1.2;
    }
  }

  p, li {
    font-size: 24px;
    margin: 0;

      @media screen and (max-width: 900px) {
        font-size: 20px;
      }
      @media screen and (max-width: 650px) {
        font-size: 18px;
      }
  }

  strong {
    font-weight: bold;
    color: #ced4da;
  }

  p code {
    padding: 8px;
    width: 100%;
    background-color: black;
  }

  pre {
    background-color: #e5e5e5;
  }

  pre code {
    padding: 8px;
  }

  pre code .line {
    padding: 8px;
    border: none;
  }
</style>

